* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    
    --blue-dark: #126BA5;
    --blue-ligth: #52B6FF;
    --grey-dark: #666666;
    --grey-ligth: #DBDBDB;
    --white: #FFFFFF;
    --green: #8FC549;
}